body
{
    font-family: 'Lato', sans-serif;
}

.navbar-expand > #title__page
{
    margin-left: 25px;
}

.player__ONE 
{
    font-family: 'Lato', sans-serif;
    padding-top: 8%;
    margin-left: 285px;
}

.player__ONE > h1
{
    font-size: 4em;
    color: #FF5C0F;
}

.bi, .bi-plus-circle
{
    color: #dc828c;
}

.text__newGame 
{
    font-family: 'Lato', sans-serif;
    color: #939393;
    font-style: normal;
    font-size: 24px;
    float: right;
    margin-left: 7px;
    padding-top: 2px;
}

.compteurOne
{
    padding-top: 4%;
    margin-left: 371px;
}

.compteurOne > button
{
    background-color: #FF5C0F;
}

.compteurOne > h3
{
    font-family: 'Lato', sans-serif;
    color: #dc828c;
    font-size: 4em;
}

.player__TWO 
{
    float: right;
    font-family: 'Lato', sans-serif;
    padding-top: 2%;
    margin-right: 380px;
}

.player__TWO > h1
{
    font-size: 4em;
    color: #0017FF;
}

.compteurTwo
{
    padding-top: 1%;
    margin-right: 501px;
    float: right;
}

.compteurTwo > h3
{
    font-family: 'Lato', sans-serif;
    color: #dc828c;
    font-size: 4em;
}

.compteurTwo > button
{
    background-color: #0017FF;
}

#btnLancer 
{
    margin-top: 2%;
}

.scrollBtn 
{
   float: right;
   padding: 4%;
}

.scrollBtn > img
{
    width: 50px;
    height: 50px;
}

#text__play__doce
{
    color: #FF5C0F;
}

footer > h4
{
    font-family: 'Lato', sans-serif;
}

@media screen and (max-width: 1280px) {
    #title__page
    {
        font-size: 55px;
        margin-left: 305px;
    }

    .card-body > .card-title
    {
        font-size: 2em;
    }

    .card-body > .card-text
    {
        font-size: 2em;
    }
    .text__newGame
    {
        font-size: 52px;
    }

    .compteurOne > p 
    {
        font-size: 72px;
        margin-left: 4px;
        margin-right: 3px;
        float: left;
    }

    .compteurOne > span
    {
        margin-left: 1px;
        margin-right: 43px;
        font-size: 2em;
    }

    .compteurTwo > p
    {
        font-size: 62px;
        margin-left: 88px;
        display: inline;
    } 

    .compteurTwo > span
    {
        margin-left: 145px;
        font-size: 2em;
    }

    #addOne
    {
        margin-left: 134px;
        font-size: 32px;
    }

    #addTwo
    {
        margin-left: 134px;
        font-size: 32px;
    }

    #btnLancer
    {
        font-size: 45px;
    }

    .player__ONE > h1
    {
       margin-left: 24px;
       margin-left: 83px;
    }

    #text__play
    {
        font-size: 57px;
    }

    #text__play__doce
    {
        font-size: 47px;
        color: #FF5C0F;
    }

    #des
    {
        font-size: 37px;
    }

    #textMessage
    {
        font-size: 47px;
    }

    footer > h4 
    {
        font-size: 3em;
        width: 100%;
    }
    
}